<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArchiveFiles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArchiveFiles.Properties.Settings>
            <setting name="ArchiveExePath" serializeAs="String">
                <value>C:\_Dropbox\My Programs\7-Zip\7z.exe</value>
            </setting>
            <setting name="ArchiveFileExtension" serializeAs="String">
                <value>.zip</value>
            </setting>
            <setting name="FilterMask" serializeAs="String">
                <value>*.log</value>
            </setting>
            <setting name="ArchiveExeOption" serializeAs="String">
                <value>a -mx1</value>
            </setting>
        </ArchiveFiles.Properties.Settings>
    </applicationSettings>
</configuration>